.paper {
  /* display: flex; */

  /* flex-direction: column; */

  /* align-items: center; */

  /* width: 100%; */
  padding: 12px 12px;
}

.topBar {
  display: flex;
}

.topHeading {
  flex-grow: 1;
}
