/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

@import '~@uppy/core/dist/style.css';
@import '~@uppy/dashboard/dist/style.css';
@import '~@uppy/webcam/dist/style.css';

body {
  /* position: relative; */

  /* color: white; */
  height: 100vh;
  background-color: #000;
  background-attachment: fixed;
  background-image: linear-gradient(
    45deg,
    rgba(200, 100, 0, 0.5) 10%,
    rgba(120, 0, 60, 0.7)
  );

  /* font-family: Arial, Helvetica, Helvetica Neue, serif; */

  /* overflow-y: hidden; */
}

div#root {
  height: 100vh;
}

a {
  /* color: white; */
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.container {
  height: 100vh;
  display: flex;
}

.content {
  flex-grow: 1;
}
